* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main-layout {
    display: grid;
    grid-template-columns: 1fr 3.7fr;
    grid-template-rows: 30vh 1fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / -1;
    background-color: #0ea5e9;
    color: white;
    padding: 1.5rem;
    z-index: 3;
}

.sidebar h1 {
    margin-bottom: 4rem;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
}

.sidebar h1 img {
    width: 2.5rem;
    height: auto;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul img {
    width: 1.3rem;
    height: auto;
}

.sidebar ul li {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 1.5rem 0.5rem;
    display: grid;
    gap: 1.5rem;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
}

.sidebar ul li:nth-child(6) {
    margin-bottom: 5rem;
}

.header {
    grid-column: 2 / -1;
    box-shadow: 0 5px 10px lightgray;
    padding: 1rem 3rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    z-index: 2;
}

.header img {
    width: 1.3rem;
    height: auto;
}

.header-main-div1 {
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 1fr;
    align-content: start;
    align-items: center;
}

.header-main-div1 > div:nth-child(1) {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content 1fr;
    gap: 1.5rem;
    align-items: center;
}

.header-main-div1 input {
    width: 100%;
    height: 2rem;
    background-color: #e5e7eb;
    border: none;
    border-radius: 1rem;
}

.header-main-div1 > div:nth-child(2) {
    display: grid;
    gap: 2rem;
    grid-auto-flow: column;
    justify-items: end;
    justify-content: end;
    align-items: center;
}

.header-main-div1 .profile-pic {
    min-width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.header-main-div2 {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.header-main-div2 p, 
.header-main-div2 button {
    font-size: 1rem;
    font-weight: bolder;
}

.header-main-div2 > div:nth-child(1) {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
}

.header-main-div2 .profile-pic {
    min-width: 5rem;
    height: 5rem;
    border-radius: 100%;
}

.header-main-div2 > div:nth-child(2) {
    display: grid;
    gap: 1.5rem;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
}

.header-main-div2 div button {
    width: 6.5rem;
    height: 2.5rem;
    color: white;
    background-color: #0ea5e9;
    border: none;
    border-radius: 1.5rem;
}

.main-content {
    grid-column: 2 / -1;
    background-color: #e5e7eb;
    padding: 1.5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.main-content .project {
    grid-row: 1 / -1;
}

.main-content h3 {
    margin-bottom: 1rem;
}

.main-content .card-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}

.main-content .card {
    padding: 1rem;
    background-color: white;
    box-shadow: 3px 3px 5px lightgray;
    border-left: 0.5rem solid #fbbf24;
    border-radius: 0.5rem;
}

.main-content .card p {
    color: #6b7280;
}

.main-content .card-icon {
    margin: 1.5rem 0;
    display: grid;
    gap: 1.5rem;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
}

.main-content .card-icon img {
    width: 1.5rem;
    height: auto;
}

.main-content .card-icon img:last-child {
    width: 1.3rem;
    height: auto;
}

.main-content .announcement-card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 5px lightgray;
    display: grid;
    gap: 1rem;
}

.main-content .announcement-card hr {
    background-color: #9ca3af;
    height: 1px;
    border: none;
    margin-top: 1rem;
}

.main-content .announcement-card p {
    color: #6b7280;
    font-size: 0.9rem;
}